.catalog-filter-close{
    display: none;
}
.close-filter-in-mob{
    display: none;
}

.catalog__ph:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/cat160.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 198px;
    width: 100%;
    height: 829px;
    z-index: -1;
}
#catalog:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../img/circ540.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 181px;
    width: 100%;
    height: 474px;
    z-index: -1;
}
.cirkle-lefts{
    position: absolute;
    top: 180px;
    left: 0;
    background-image: url('../img/ellipse232.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 296px;
    width: 100%;
    height: 541px;
    z-index: -1;
}
.catalog__cnt{
    margin-top: 26px;
    margin-bottom: 85px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.catalog-cnt-left{
    width: 23%;
}
.parameter-filter__block{
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    padding: 20px 25px;
}
.parameter-filter__block + .parameter-filter__block{
    margin-top: 23px;
}
.remove_min{
    margin-bottom: 15px;
}
.asked-question-click{
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.asked-question-click strong{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}
.asked-question-click:after{
    content: "";
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 8px;
    position: absolute;
    right: 0px;
    top: 13px;
    transform: rotate(180deg);
    transition: 0.3s;
}
.parameter-filter_close .open-submenu{
    display: none;
}
.parameter-filter_close .asked-question-click:after{
    transform: rotate(0);
}
.change-range__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
    margin-top: 20px;
}
.change-range__block__inp{
    display: flex;
    align-items: center;
}
.change-range__block__inp p{

}
.change-range__block__inp input{
    width: 107px;
    height: 29px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    text-align: center;
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A3A3A3;
}

.assortment__info__mob .noUi-target{
    border: none;
    height: 5px;
    background: #DEDEDE;
}
.assortment__info__mob  .noUi-connect {
    background:  #E93F32;
}

.assortment__info__mob .noUi-horizontal .noUi-handle {
    width: 17px;
    height: 17px;
    background: #E93F32;
    box-shadow: unset;
    border-radius: 50%;
    cursor: pointer;
    border: unset;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -10px!important;
    top: 38%;
    -webkit-transform: translateY(-38%);
    -ms-transform: translateY(-38%);
    transform: translateY(-38%);
}


.block-color-for-filter{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.color-for-filter{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 17px;
    margin-right: 20px;
}
.color-for-filter:hover{
    border: 1px solid #A1A3A5;
}
.color-filter__active{
    border: 1px solid #A1A3A5;
}
.color-for-filter:nth-child(1){
    background: #EE0000;
}
.color-for-filter:nth-child(2){
    background: #EE6400;
}
.color-for-filter:nth-child(3){
    background: #EEE400;
}
.color-for-filter:nth-child(4){
    background: #72DD69;
}
.color-for-filter:nth-child(5){
    background: #00D6C9;

}
.color-for-filter:nth-child(6){
    background: #1FC4F9;
}
.color-for-filter:nth-child(7){
    background: #4964C4;
}
.color-for-filter:nth-child(8){
    background: #AB50D6;
}
.color-for-filter:nth-child(9){
    background: #F586DD;
}
.color-for-filter:nth-child(10){
    background: #FF8F8F;

}
.color-for-filter:nth-child(11){
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
}
.color-for-filter:nth-child(12){
    background: #EBCDB1;
}
.color-for-filter:nth-child(13){
    background: #93584B;
}
.composition__scr{
    overflow-y: scroll;
    margin-top: 25px;
    margin-right: 2px;
}
.composition__scr::-webkit-scrollbar {
    width: 7px;
    height: 20px;
    background-color: unset;
}
.composition__scr::-webkit-scrollbar-thumb {
    background: #DFDFDF;
    width: 5px;
    border-radius: 0;
    cursor: pointer;
}
.composition__heig{
    height: 260px;
}
.catalog-cnt-right{
    width: 75%;

}
.catalog-cnt-right .offers__flex {
    margin: -16px -15px 0;
}
.catalog-cnt-right .offers__box{
    width: 33.333333%;
}
.catalog-cnt-right .offers__info {
    max-width: 355px;
}
.ption-info{
    margin-bottom: 18px;
}
.ption-info .checkcontainer {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}
.catalog-cnt-left .ption-info .checkcontainer{
    padding-left: 50px;
}
.ption-info .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 22px;
    background: #FFFFFF;
    border: 2px solid #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ption-info .checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
}
.ption-info .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.ption-info .checkcontainer .checkmark:after {
    width: 10px;
    height: 10px;
    background: #E93F32;
}
.ption-info .checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

.catalog__ph .offers__main {
    padding: 60px 0 30px;
}
.marg__cats{
    margin-top: 20px;
}
.catalog__link{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.catalog__link ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    width: 100%;
}
.catalog__link ul li + li{
    margin-left: 15px;
}
.catalog__link ul a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}
.catalog__link ul a:hover{
    border-bottom: 1px solid #000000;
}

#catalog__two .offers__info {
    max-width: 355px;
}
.offers__catalog{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.pagination__cat{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.pagination__cat>a{
    display: flex;
}
.pagination__cat ul{
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.pagination__cat ul li{
    display: flex;
}
.pagination__cat ul li + li{
    margin-left: 15px;
}
.pagination__cat ul li a{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: 0.3s;
    display: flex;
}
.pagination__cat ul li a:hover{
    text-decoration-line: underline;
    opacity: 1;
    color: #E93F32;
}
#catalog__two:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../img/Ve8511.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 371px;
    width: 100%;
    height: 511px;
}
#catalog-tree:before{
    content: "";
    position: absolute;
    bottom: -55px;
    left: 0;
    background-image: url("../img/aereq56.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 517px;
    width: 100%;
    height: 662px;
    z-index: -1;
}
#catalog-tree:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/aerer310.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 142px;
    width: 100%;
    height: 389px;
    z-index: -1;
}
@media (max-width: 1600px){
    #catalog-tree:before {
        background-repeat: no-repeat;
        max-width: 389px;
        height: 511px;
    }
    #catalog__two:before {
        max-width: 288px;
        height: 397px;
    }
}
@media (max-width: 1399px){

    .catalog-cnt-right .offers__flex {
        margin: -16px -10px 0;
    }
   .catalog-cnt-right .offers__photo {
        height: 270px;
    }
    .catalog-cnt-right .offers__box {
        padding: 15px 10px;
    }
    .catalog-cnt-left {
        width: 26%;
    }
    .catalog-cnt-right {
        width: 73%;
    }
}
@media (max-width: 1299px){
    .catalog__gal {
        width: 25%;
    }
    .catalog-cnt-left {
        width: 26%;
    }
    .catalog-cnt-right {
        width: 72%;
    }
    .catalog__box {
        width: 33.333333%;
    }
    .catalog-cnt-left .ption-info .checkcontainer {
        padding-left: 40px;
    }
}
@media (max-width: 1199px){
    .catalog__link ul {
        max-width: 800px;
    }
    .catalog__gal {
        width: 33.333333%;
    }
    .catalog-cnt-left {
        width: 0%;
        padding: 20px;
        border-top: unset;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px #171717;
        overflow: auto;
        visibility: hidden;
        transition: 0.3s;
    }
    .catalog-filter-active {
        width: 100%;
        visibility: visible;
        transition: 0.5s;
    }
    .catalog-cnt-right {
        width: 100%;
        margin-top: 25px;
    }
    .close-filter-in-mob{
        cursor: pointer;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .close-filter-in-mob svg{
        width: 25px;
        height: 25px;
    }
    .close-filter-in-mob svg path {
        fill: #E93F32;
    }
    .close-filter-in-mob span{
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #333333;
        margin-left: 6px;
    }
    .catalog__cnt{
        flex-direction: column;
    }
    .catalog__cnt {
        margin-top: 0;
        padding-top: 25px;
        margin-bottom: 60px;
        justify-content: space-between;
        position: relative;
    }
    .catalog-filter-close{
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .about-category-cnt{
        max-width: 360px;
        width: 100%;
        margin: 40px auto 0;
    }
    .asked-question-click strong {
        font-size: 20px;
        line-height: 26px;
    }
    #catalog:before{
        display: none;
    }
    .catalog__ph:after{
        display: none;
    }
    .cirkle-lefts{
        display: none;
    }
    .payment__flow{
        display: none;
    }
    .catalog__ph .offers__main {
        padding: 20px 0 30px;
    }
    #catalog__two:before{
        display: none;
    }
    .catalog__link {
        margin-top: 35px;
    }
    #catalog-tree:before{
        display: none;
    }
}
@media (max-width: 991px){

    .catalog__img span {
        font-size: 20px;
        line-height: 24px;
    }
    .catalog__link {
        margin-top: 30px;
    }
    .offers__catalog {
        margin-top: 30px;
    }
    .catalog__box {
        width: 50%;
    }
    .catalog-cnt-right .offers__box {
        width: 50%;
        padding: 15px 15px;
    }
    .catalog-cnt-right .offers__flex {
        margin: 0 -15px 0;
    }
}
@media (max-width: 760px){
    .catalog__gal {
        width: 50%;
    }
    .offers__catalog {
        flex-direction: column;
    }
    .pagination__cat {
        position: relative;
        margin-top: 20px;
    }
    .catalog__cnt {
        margin-bottom: 35px;
    }
    .catalog-cnt-right .offers__box {
        padding: 15px 8px;
        width: 50%;
    }
    .catalog-cnt-right .offers__flex {
        margin: 0 -8px;
    }

}
@media (max-width: 570px){
    .catalog-cnt-right .offers__photo {
        height: 200px;
    }
    .catalog__flow {
        margin: 20px 0 0;
    }
    .catalog__gal {
        width: 100%;
        padding: 10px 0;
    }
    .catalog__link ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .catalog__link ul li{
        margin-bottom: 10px;
    }
    .offers__catalog {
        margin-top: 20px;
    }
    .catalog__box {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
    }
    .catalog-cnt-left {
        padding: 15px;
    }
    .color-for-filter {
        margin-bottom: 15px;
        margin-right: 15px;
    }
    .parameter-filter__block {
        padding: 20px 20px;
    }
    .ption-info {
        margin-bottom: 15px;
    }
}
@media (max-width: 370px){
    .catalog__link ul li + li {
        margin-left: 12px;
    }
    .catalog-cnt-right .offers__photo {
        height: 150px;
    }
    .catalog-cnt-right .offers__box {
        padding: 10px 5px;
    }
}