.bread__crumbs{
    margin-top: 28px;
    position: relative;
    z-index: 9;
}
.bread__crumbs ul{
    display: flex;
    align-items: center;
}
.bread__crumbs ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-right: 15px;
    position: relative;
}
.bread__crumbs ul li + li{
    padding-left: 20px;
}
.bread__crumbs ul li + li:before{
    content: ">";
    position: absolute;
    left: 0;
}
.bread__crumbs ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.about__us{
    position: relative;
}
.about__us:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../img/arer56.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 143px;
    width: 100%;
    height: 506px;
}
.about__us:after{
    content: "";
    position: absolute;
    bottom: 15px;
    right: 0;
    background-image: url("../img/aer7.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 527px;
    width: 100%;
    height: 648px;
}
.about__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    padding-left: 171px;
    position: relative;
    z-index: 98;
}
.about__main {
    max-width: 345px;
    width: 100%;
    position: relative;
    z-index: 9;
}
.about__main h2{
    margin-bottom: 60px;
}
.about__main strong{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
    margin-top: 35px;
    display: block;
}
.about__main>p{
    margin-top: 25px;
}
.about__main>a{
    margin-top: 90px;
    max-width: 232px;
    width: 100%;
}
.fon__about{
    position: relative;
}
.fon__about:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 400px;
    max-width: 455px;
    width: 100%;
    height: 296px;
    background-image: url("../img/Ellip321.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.about__photo{
    display: flex;
}

.payment__cnt .about__main {
    max-width: 464px;
    margin-bottom: 35px;
}

.payment__flow:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../img/areerer3.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 174px;
    width: 100%;
    height: 387px;
    z-index: -1;
}
.payment__cnt:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../img/reqas9776.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 556px;
    width: 100%;
    height: 688px;
}

.payment__fons{
    content: "";
    position: absolute;
    top: -110px;
    right: 400px;
    background-image: url("../img/pse-325.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 502px;
    width: 100%;
    height: 299px;
}
.payment__photo {
    display: flex;
    margin-top: -60px;
}
.payment__systems{
    margin-top: 55px;
}
.payment__systems span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.payment__systems ul{
    margin-top: 25px;
    display: flex;
    align-items: center;
    margin-right: -103px;
}
.payment__systems ul li{
    margin-right: 13px;
    width: 68px;
    height: 43px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quality__assurance .about__main>p {
    max-width: 426px;
    margin-top: 60px;
}
.delivery__main{
    position: relative;
}
.delivery__main:before{
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    background-image: url('../img/9705264.png');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 414px;
    width: 100%;
    height: 640px;
}
.delivery__main .delivery__photo{
    position: absolute;
    top: 0;
    right: 0;
}
.delivery__info{
    max-width: 576px;
    width: 100%;
    position: relative;
    z-index: 9;
    margin-bottom: 60px;
}
.delivery__info h2{
    margin-bottom: 60px;
}
.delivery__info p{
    max-width: 335px;
    margin-top: 25px;
}
.delivery__info .btn{
    max-width: 232px;
    width: 100%;
}
.delivery__map{
    margin-top: 40px;
    max-width: 576px;
    width: 100%;
    height: 360px;
    margin-bottom: 37px;
}
.contact__main {
    position: relative;
    padding-top: 60px;
}
.contact__main:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/oireoe958.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 320px;
    width: 100%;
    height: 409px;
    z-index: -1;
}
.contact__main .about__flex {
    margin-top: 0;
}
.contact__main .delivery__info .btn {
    margin-top: 70px;
}
.contact__info>strong{
    margin-bottom: 35px;
}
.contact__info>p{
    margin-top: 20px;
}

.contact__info .btn{
    margin-top: 42px;
}
.quality__assurance{
    position: relative;
}
.quality__assurance:after{
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    background-image: url("../img/aseqw89.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 452px;
    width: 100%;
    height: 583px;
    z-index: -1;
}
/*===========-profile start-=============*/
.profile__main{
    margin: 100px 0 0;
    padding-bottom: 80px;
}
.profile__main:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../img/5ctor55.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 528px;
    width: 100%;
    height: 409px;
    z-index: -1;
}
.profile__main:after{
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    background-image: url("../img/circ540.png");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 211px;
    width: 100%;
    height: 443px;
    z-index: -1;
}
.profile__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.profile__flex h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}
.profile__info{
    max-width: 350px;
    width: 100%;
    margin-left: 93px;
}
.profile__data{
    margin-top: 52px;
}
.profile__name {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.profile__name p{
    max-width: 140px;
    width: 100%;
}
.profile__name span{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.profile__check{
    margin-bottom: 35px;
}
.profile__check .ption-info .checkcontainer {
    padding-left: 35px;
}
.profile__out .btn__liner{
    margin-top: 19px;
}
.btn__liner{
    width: 180px;
    height: 42px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 30px;
    transition: 0.3s;
}
.btn__liner:hover{
    background: #E93F32;
    color: #FFFFFF;
    border: 1px solid #E93F32;

}
.profile__out a{
    max-width: 242px;
    width: 100%;
}
.profile__orders{
    max-width: 960px;
    width: 100%;
}
.profile__orders h3{
    margin-left: 69px;
}
.profile__box{
    width: 100%;
    margin-top: 25px;
    padding: 23px 36px 30px 69px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 30px;
}
.profile__kod{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__numb{
    display: flex;
    align-items: center;
}
.awaiting__delivery{
    margin-left: 70px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-left: 23px;
}
.awaiting__delivery:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 10px;
    background: #FFDB96;
    border-radius: 50%;
}
.already__have:before{
    background: #8DDA86;
}
.profile__kod>span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #C4C4C4;
}
.profile__orders__item{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__orders__price{
    display: flex;
    align-items: center;
    margin-top: -40px;
}
.profile__orders__price span{
    margin-right: 90px;
}
.profile__orders__price span, .profile__orders__price strong{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: right;
    color: #333333;
    white-space: nowrap;
}
.profile__orders__btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 55px;
}
.profile__orders__btn a{
    margin-left: 22px;
    max-width: 212px;
    width: 100%;
}
.delivery__main .payment__photo {
    margin-top: 0;
    margin-right: -90px;
}
.delivery__re .fon__about:before {
    right: 0;
}
.stock__main{
    position: relative;
}
.stock__main:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/aerer310.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 142px;
    width: 100%;
    height: 389px;
    z-index: -1;
}
.tit__mobs{
    display: none;
}
.contact__cnt{
    margin-top: 41px;
}
.contact__name{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.contact__name img{
    margin-right: 13px;
}
.contact__name span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.contact__main .about__flex {
    margin-top: 0;
    align-items: flex-end;
}
.contact__main .delivery__info strong{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
@media (max-width: 1800px){
    .fon__about:before {
        right: 300px;
        max-width: 329px;
        height: 274px;
    }
    .about__us:after {
        max-width: 412px;
        height: 509px;
    }
    .delivery__main .payment__photo {
        margin-right: -20px;
    }
    .quality__assurance:after {
        max-width: 320px;
        height: 413px;
    }
}
@media (max-width: 1600px){
    .about__flex {
        padding-left: 100px;
    }
    .about__us:after {
        max-width: 364px;
        height: 446px;
    }
    .about__us:before {
        max-width: 107px;
        height: 339px;
    }
    .payment__flow:before {
        max-width: 98px;
        height: 417px;
    }
    .payment__fons {
        top: -110px;
        right: 325px;
        max-width: 370px;
        height: 254px;
    }
    .payment__cnt:after {
        max-width: 382px;
        height: 472px;
    }
    .delivery__main .payment__photo {
        margin-right: 0;
    }
    .profile__main:before {
        max-width: 397px;
        height: 307px;
    }
}

@media (max-width: 1440px){
    .about__flex {
        padding-left: 60px;
    }
    .delivery__info {
        max-width: 540px;
        margin-bottom: 60px;
    }
    .delivery__main .delivery__photo {
        max-width: 765px;
    }
    .delivery__map {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .profile__info {
        margin-left: 0;
    }
    .payment__fons {
        top: -110px;
        right: 262px;
        max-width: 334px;
        height: 227px;
    }
}
@media (max-width: 1299px){
    .about__flex {
        padding-left: 0;
    }
    .authorization__text {
        margin-top: 30px;
    }
    .authorization__text ul {
        margin-top: 20px;
        padding-left: 20px;
    }
    .authorization__text ul li {
        margin-top: 10px;
    }
    .payment__systems {
        margin-top: 30px;
    }
    .payment__systems ul {
        margin-top: 15px;
    }
    .payment__photo {
        margin-top: -60px;
    }
    .quality__bring {
        padding-left: 20px;
    }

    .profile__box {
        padding: 23px 25px 30px 25px;
    }
    .profile__orders h3 {
        margin-left: 25px;
    }
    .profile__orders__price span {
        margin-right: 50px;
    }
    .delivery__main .about__flex {
        align-items: flex-end;
    }
    .delivery__main .payment__photo {
        margin-right:0;
        margin-left: 0;
    }
}
@media (max-width: 1199px){
    .profile__main:before {
        max-width: 340px;
        height: 263px;
    }
    .profile__main:after {
        top: -180px;
        max-width: 186px;
        height: 403px;
    }
    .about__flex {
        margin-top: 30px;
    }
    .about__main strong {
        font-size: 22px;
        line-height: 26px;
        margin-top: 20px;
    }
    .about__main>p {
        margin-top: 15px;
    }
    .about__main>a {
        margin-top: 30px;
    }
    .about__main {
        max-width: 460px;
    }
    .payment__photo {
        margin-top: 0;
        margin-left: -150px;
    }
    .delivery__main .delivery__photo {
        max-width: 640px;
    }
    .delivery__info strong {
        font-size: 22px;
        line-height: 28px;
        margin-top: 25px;
        max-width: 469px;
    }
    .delivery__info {
        margin-bottom: 40px;
    }
    .delivery__map {
        margin-top: 25px;
        height: 300px;
        margin-bottom: 20px;
    }
    .contact__main {
        padding-top: 40px;
    }

    .contact__info>strong {
        margin-bottom: 25px;
    }
    .contact__cnt {
        margin-top: 40px;
    }
    .profile__info {
        max-width: 310px;
    }
    .profile__name p {
        max-width: 120px;
    }
    .fon__about:before {
        right: 265px;
        max-width: 284px;
        height: 221px;
    }
    .payment__fons {
        top: -108px;
        right: 208px;
        max-width: 330px;
        height: 215px;
    }
    .delivery__main .payment__photo {
        margin-right:0;
        margin-left: 0;
    }
    .quality__assurance:after {
        top: 0;
        max-width: 238px;
        height: 295px;
    }
}
@media (max-width: 991px){
    .profile__main:before{
        display: none;
    }
    .profile__main:after{
        display: none;
    }
    .bread__crumbs {
        margin-top: 20px;
    }
    .about__flex {
        flex-direction: column;
    }
    .about__photo {
        margin-top: 35px;
        margin-right: 0;
        margin-left: auto;
        max-width: 500px;
    }
    .payment__photo {
        margin-top: 0;
        margin-left: auto;
        max-width: 430px;
    }
    .payment__systems ul li {
        margin-right: 8px;
    }
    .quality__assurance .about__main>p {
        margin-top: 35px;
    }
    .delivery__main .delivery__photo {
        position: relative;
        max-width: 500px;
        margin-left: auto;
        margin-right: -15px;
    }
    .profile__flex {
        flex-direction: column;
    }
    .profile__main {
        margin: 50px 0 0;
        padding-bottom: 50px;
    }
    .profile__data {
        margin-top: 30px;
    }
    .profile__name {
        margin-bottom: 25px;
    }
    .profile__check {
        margin-bottom: 25px;
    }
    .profile__orders {
        margin-top: 35px;
    }
    .profile__orders h3 {
        margin-left: 0;
    }
    .profile__orders__btn {
        margin-top: 30px;
    }
    .profile__orders__item {
        margin-top: 30px;
    }
    .about__us:before{
        display: none;
    }
    .about__us:after{
        display: none;
    }
    .payment__fons{
        display: none;
    }
    .payment__flow:before{
        display: none;
    }
    .payment__cnt:after{
        display: none;
    }
    .delivery__main:before{
        display: none;
    }
    .delivery__main .about__flex {
        align-items: flex-start;
    }
    .delivery__main .payment__photo {
        margin-right: 0;
        margin-left: auto;
    }
    .quality__assurance:after {
        display: none;
    }
    .about__main h2 {
        margin-bottom: 25px;
    }
    .stock__main:after{
        display: none;
    }
    .contact__main:after{
        display: none;
    }
    .contact__main .about__flex {
        flex-direction: row;
        align-items: flex-end;
    }
    .contact__main .payment__photo {
        margin-left: -100px;
    }
}
@media (max-width: 760px){
    .payment__systems ul{
        margin-right: 0;
    }
    .payment__cnt .about__main {
        max-width: 600px;
    }
    .about__main {
        max-width: 600px;
    }
    .contact__cnt {
        margin-top: 30px;
    }
    .contact__info .btn {
        margin-top: 30px;
    }
    .contact__name {
        margin-bottom: 15px;
    }

    .profile__orders__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .profile__orders__price {
        margin-top: 15px;
        justify-content: flex-end;
        width: 100%;
    }
    .profile__box {
        padding: 20px 20px 20px 20px;
    }
    .awaiting__delivery {
        margin-left: 30px;
    }
    .fon__about{
        display: none;
    }
    .about__main h2 {
        margin-bottom: 40px;
    }
    .delivery__info h2 {
        margin-bottom: 40px;
    }
    .tit__mobs{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        color: #333333;
        display: block;
        margin-top: -25px;
    }

}
@media (max-width: 760px){
    .contact__main .about__flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .contact__main .payment__photo{
        display: none;
    }
}
@media (max-width: 570px){
    .about__main h2 {
        margin-bottom: 25px;
    }
    .about__main strong {
        font-size: 20px;
        line-height: 26px;
    }
    .payment__systems ul {
        margin-top: 15px;
        flex-wrap: wrap;
    }
    .payment__systems ul li {
        margin-right: 8px;
        margin-bottom: 8px;
    }
    .quality__assurance .about__main>p {
        margin-top: 25px;
    }
    .delivery__info strong {
        font-size: 18px;
        line-height: 22px;
        margin-top: 20px;
    }
    .delivery__map {
        height: 270px;
    }
    .bread__crumbs ul li + li {
        padding-left: 12px;
    }
    .bread__crumbs ul {
        flex-wrap: wrap;
    }
    .bread__crumbs ul li {
        font-size: 15px;
        margin-right: 6px;
    }
    .bread__crumbs ul li a {
        font-size: 15px;
    }
    .profile__numb {
        flex-direction: column;
        align-items: flex-start;
    }
    .awaiting__delivery {
        margin-left: 0;
        margin-top: 10px;
    }
    .profile__kod {
        align-items: flex-start;
    }
    .profile__orders__price span, .profile__orders__price strong {
        font-size: 20px;
        line-height: 26px;
    }
    .profile__orders__btn {
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-end;
    }
    .profile__orders__btn a {
        margin-left: 0;
        margin-top: 10px;
    }
    .profile__name p {
        max-width: 110px;
    }
    .profile__name {
        margin-bottom: 20px;
    }
    .delivery__info h2 {
        margin-bottom: 30px;
    }

    .contact__main .payment__photo {
        margin-left: 0;
    }
    .contact__main .delivery__info strong{
        font-size: 20px;
        line-height: 26px;
    }
}