.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: auto;
    -webkit-transform: scaleY(0.01) scaleX(0);
    -ms-transform: scaleY(0.01) scaleX(0);
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.out {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes unfoldIn {
    0% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
}
@-webkit-keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
@keyframes unfoldOut {
    0% {
        -webkit-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
    }
    50% {
        -webkit-transform: scaleY(0.005) scaleX(1);
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        -webkit-transform: scaleY(0.005) scaleX(0);
        transform: scaleY(0.005) scaleX(0);
    }
}
.modal-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: zoomIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@-webkit-keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transform: rotate(-45deg);
    z-index: 99;
}
.close:before,
.close:after{
    content: "";
    position: absolute;
    background-color: #C4C4C4;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.close:before{
    width: 100%;
    height: 2px;
}
.close:after{
    width: 2px;
    height: 100%;
}
.modal-registration{
    max-width: 710px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    position: relative;
    padding: 70px 40px 50px;
}
.new__regs{
    width: 100%;
    background: #FFFFFF;
    position: relative;
    height: 100%;
}
#registration .entrance__form {
    margin: 0;
    padding-bottom: 30px;
}
.new__regs .entrance__main:before, .new__regs .entrance__main:after{
    z-index: 1;
}
.new__regs .entrance__main{
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
}
.new__regs .entrance__block{
    padding-top: 30px;
}
#registration, #entrance-two, #code-letter, #entrance{
    background: #ffffff;
}
.modal-registration h2{
    text-align: center;
}
.modal__btn{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.modal__cnt{
    text-align: center;
}
.modal__cnt h3, .modal__profile h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 0 auto 35px;
    max-width: 400px;
}
.modal__icon{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.modal__cnt>strong{
    display: block;
    margin: 35px auto 0;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    max-width: 300px;
}
.enter__postcard{
    max-width: 502px;
    width: 100%;
    margin: 0 auto;
}
.enter__postcard strong{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}
.postcard__textarea{
    width: 100%;
    margin-top: 32px;
}
.postcard__textarea label{
    display: flex;
    width: 100%;
}
.postcard__textarea label textarea{
    width: 100%;
    height: 290px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 6px;
    padding: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.postcard__textarea label textarea::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A3A3A3;
}
.modal__profile{
    text-align: center;
    max-width: 603px;
    width: 100%;
    margin: 0 auto;
}
.modal__profile strong{
    margin-top: 70px;
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}
.modal__profile p{
    margin: 28px auto 0;
    max-width: 425px;
    width: 100%;
    padding-bottom: 25px;
}
.modal-registration .entrance__cnt {
    max-width: 450px;
}
.modal-registration .entrance__inp label {
    max-width: 280px;
    margin: 0 auto;
}

@media (max-width: 991px){
    .modal-registration {
        max-width: 680px;
        padding: 40px 30px 35px;
    }
    .modal__icon {
        margin-bottom: 50px;
    }
    .modal__cnt>strong {
        margin: 25px auto 0;
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 26px;
    }
    .postcard__textarea label textarea {
        height: 240px;
    }
    .modal__profile strong {
        margin-top: 30px;
        font-size: 20px;
        line-height: 26px;
    }
    .modal__profile p {
        margin: 25px auto 0;
        padding-bottom: 10px;
    }
}
@media (max-width: 760px){
    .modal-registration {
        max-width: 550px;
        padding: 30px 20px 30px;
    }
    .enter__postcard strong {
        font-size: 20px;
        line-height: 26px;
    }
    .modal__icon {
        margin-bottom: 30px;
    }
    .modal__btn {
        margin-top: 30px;
    }
    .modal-registration .entrance__inp label {
        max-width: 100%;
    }
    .modal__icon img{
        width: 90px;
    }
    .close{
        top: 20px;
        right: 20px;
    }
    .modal__cnt h3, .modal__profile h3 {
        font-size: 22px;
        line-height: 29px;
        margin: 0 auto 25px;
    }
}
@media (max-width: 570px){
    .modal__cnt>strong {
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
    }
    .modal__btn {
        margin-top: 20px;
    }
    .new__regs .entrance__main {
        padding: 20px 15px 0;
    }
    .new__regs .entrance__block {
        padding-top: 0;
    }
}